<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title>DR Directory</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body *ngIf="show=='login'">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="">DR Directory</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href=''>Home</a></li>
            <li><a (click)="show='aboutus'">About US</a></li>
          <li><a (click)="show='contactus'" >Contact Us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a (click)="show='Registeremployee'"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a (click)="show='login'"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>
<div class="container">
  <div style="text-align:center"><h1>Log in</h1></div>
  <br>
  <form #loginform="ngForm" (ngSubmit)="validateEmployee(loginform)"  >
  
    <div class="form-group">
      <label class="control-label " for="empno">Employee Number</label>
        <input type="text" class="form-control" id="empno" placeholder="Enter Employee Number" name="empno"  #empnoRef="ngModel" ngModel required >
        <div *ngIf="empnoRef.errors && (empnoRef.dirty || empnoRef.touched)" style="text-align:left; padding-top:5px; color:red;">
          <div [hidden]="!empnoRef.errors.required">
            <p>&nbsp;Employee Number is mandatory</p>
          </div>
        </div>
  </div>
	
	<div class="form-group">
      <label class="control-label " for="password">Password:</label>
             
        <input type="password" #passwordRef="ngModel" ngModel required  class="form-control" id="password" placeholder="Enter Password" name="password"  >
		<div *ngIf="passwordRef.errors && (passwordRef.dirty || passwordRef.touched)" style="text-align:left; padding-top:5px; color:red;">
          <div [hidden]="!passwordRef.errors.required">
            <p>&nbsp;Password is mandatory</p>
          </div>
        </div>
    </div>
    
    <div class="form-group">        
        <div style="text-align:center"><button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button></div>
        
    </div>
  </form>

</div>
</body>
<div *ngIf="show==='aboutus'">
    <app-aboutus></app-aboutus>
  </div>
  <div *ngIf="show==='Registeremployee'">
    <app-registeremployee></app-registeremployee>
  </div>
  <div *ngIf="show==='contactus'">
    <app-contactus></app-contactus>
  </div>
</html>