# compiled output
Employee-Management-Front-end/dist
Employee-Management-Front-end/tmp
Employee-Management-Front-end/out-tsc
# Only exists if Bazel was run
Employee-Management-Front-end/bazel-out

# dependencies
Employee-Management-Front-end/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
Employee-Management-Front-end/.idea
Employee-Management-Front-end/.project
Employee-Management-Front-end/.classpath
Employee-Management-Front-end/.c9/
*.launch
Employee-Management-Front-end/.settings/
Employee-Management-Front-end/*.sublime-workspace

# IDE - VSCode
Employee-Management-Front-end/.vscode/*
Employee-Management-Front-end/!.vscode/settings.json
Employee-Management-Front-end/!.vscode/tasks.json
Employee-Management-Front-end/!.vscode/launch.json
Employee-Management-Front-end/!.vscode/extensions.json
Employee-Management-Front-end/.history/*

# misc
Employee-Management-Front-end//.sass-cache
Employee-Management-Front-end//connect.lock
Employee-Management-Front-end//coverage
Employee-Management-Front-end//libpeerconnection.log
Employee-Management-Front-end/npm-debug.log
Employee-Management-Front-end/yarn-error.log
Employee-Management-Front-end/testem.log
Employee-Management-Front-end//typings

# System Files
Employee-Management-Front-end/.DS_Store
Employee-Management-Front-end/Thumbs.db